<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css">
    <title>Document</title>
</head>
<body class="bg-dark text-light">

        <header class="my-2">
            <div class="container">
                <div class="row">
                    <div class="col-md-6 offset-3">
                        <div>
                            
                            <form action="/admin" method="post" enctype="multipart/form-data">
                                <div class="py-3">
                                    <label>Picture</label>
                                    <input name="image" type="file" accept="image/*"> 

                                    <a href="/admin/update-delete" class="text-right text-decoration-none btn btn-secondary">Modify</a>
                                </div>
                                <div class="py-3">
                                    <label>Topic</label>
                                    <input type="text" name="topic" class="form-control" /> 
                                </div>
                                <div class="py-3">
                                    <label>Title</label>
                                    <input type="text" name="title" class="form-control" /> 
                                </div>
                                <div class="py-3">
                                    <label>Text</label>
                                    <textarea name="text" class="rounded-3" cols="85%"  rows="10"></textarea> 
                                </div>
                                <div class="py-3">
                                    <label>Author</label>
                                    <input type="text" name="author" class="form-control" /> 
                                </div>
                                <div class="py-3">
                                    <button type="submit" class="btn btn-lg btn-secondary">POST Blog</button> 
                                </div>
                                
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </header>


    

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>