<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css">
  <title>DevBlog - Manish Shahi's Personal Blog</title>

  <!--
    - favicon
  -->
  <link rel="shortcut icon" href="/images/favicon.ico" type="image/x-icon">

  <!--
    - custom css link
  -->
  <link rel="stylesheet" href="/css/style.css">

  <!--
    - google font link
  -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;500;600;700;800;900&display=swap"
    rel="stylesheet">
</head>

<body class="light-theme">


  <main>

    <!--
      - #HERO SECTION
    -->

    




    <div class="main">

      <div class="container">

        <!--
          - BLOG SECTION
        -->

        <div class="blog">

          <h2 class="h2">Latest Blog Post</h2>

          <div class="blog-card-group">
            


            {{#each result}}
            <div class="blog-card">

              <div class="blog-card-banner">
                <img src="/{{this.picture}}" alt="Building microservices with Dropwizard, MongoDB & Docker"
                  width="250" class="blog-banner-img">
              </div>

              <div class="blog-content-wrapper">

                <button class="blog-topic text-tiny">{{this.topic}}</button>

                <h3>
                  <a href="#" class="h3">
                    {{this.title}}
                  </a>
                </h3>

                <p class="blog-text">
                  {{this.text}}
                </p>

                <div class="wrapper-flex">

                  <div class="wrapper">
                    <a href="#" class="h4">{{this.author}}</a>

                    <p class="text-sm">
                      <time datetime="2022-01-17">{{this.date}}</time>
                      {{!-- <span class="separator"></span>
                      <ion-icon name="time-outline"></ion-icon> --}}
                      {{!-- <time datetime="PT3M">3 min</time> --}}
                      
                    </p>
                    
                  </div>
                  

                </div>
                <div class="mt-5">
                  <a class="btn btn-info" href="/admin/update/{{this._id}}">Update</a>
                  <a class="btn btn-danger" href="/admin/delete/{{this._id}}">Delete</a>
                </div>
                  

              </div>
              

            </div>
            {{/each}}


          </div>
          <button class="btn load-more">Load More</button>
        </div>





        <!--
          - ASIDE
        -->

    

      </div>

    </div>

  </main>











  <!--
    - custom js link
  -->
  <script src="./js/script.js"></script>

  <!--
    - ionicon link
  -->
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>

  <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
  <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
</body>

</html>